<div class="container col-4">
    <div class="text-center mt-1 p-1 pb-5 mb-5 rounded">
        <h4>Añadir un nuevo proveedor</h4>
        <form #proveedorForm="ngForm" action="">
            <div class="form-group">
                <label for="nombre" *ngIf="nombre.pristine || nombre.valid">Nombre</label>
                <span class="text-danger fw-bold" *ngIf="nombre.invalid && nombre.dirty">El nombre es necesario (mínimo 4 caracteres)</span>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="proveedor.nombre" #nombre="ngModel" required minlength="4">
            </div>
            <div class="form-group">
                <label for="cif" *ngIf="cif.pristine || cif.valid">CIF</label>
                <span class="text-danger fw-bold" *ngIf="cif.invalid && cif.dirty">El formato del CIF es incorrecto</span>
                <input type="text" class="form-control" id="cif" name="cif" [(ngModel)]="proveedor.cif" #cif="ngModel" required pattern="[0-9]{8}[A-Z]">
            </div>
            <div class="form-group">
                <label for="direccion" *ngIf="direccion.pristine || direccion.valid">Dirección</label>
                <span class="text-danger fw-bold" *ngIf="direccion.invalid && direccion.dirty">Debe introducir una dirección</span>
                <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="proveedor.direccion" #direccion="ngModel" required>
            </div>
            <div class="form-group">
                <label for="cp" *ngIf="cp.pristine || cp.valid">Código postal</label>
                <span class="text-danger fw-bold" *ngIf="cp.invalid && cp.dirty">El formato del código postal es inválido</span>
                <input type="text" class="form-control" id="cp" name="cp" [(ngModel)]="proveedor.cp" #cp="ngModel" required pattern="[0-9]{5}">
            </div>
            <div class="form-group">
                <label for="localidad">Localidad</label>
                <input type="text" class="form-control" id="localidad" name="localidad" [(ngModel)]="proveedor.localidad" required>
            </div>
            <div class="form-group">
                <label for="provincia" *ngIf="provincia.pristine || provincia.valid">Provincia</label>
                <span class="text-danger fw-bold" *ngIf="provincia.invalid && provincia.dirty">Es necesario seleccionar una provincia</span>
                <select class="form-control" id="provincia" [(ngModel)]="proveedor.provincia" name="provincia" #provincia="ngModel" required>
                    <option value="">Seleccione la provincia</option>
                    <option *ngFor="let provincia of provincias" [value]="provincia">{{provincia}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="number" class="form-control" id="telefono" name="telefono" [(ngModel)]="proveedor.telefono">
            </div>
            <div class="form-group">
                <label for="email" *ngIf="email.pristine || email.valid">Email</label>
                <span class="text-danger fw-bold" *ngIf="email.invalid && email.dirty">El formato del email no es correcto</span>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="proveedor.email" #email="ngModel" required>
            </div>
            <div class="form-group">
                <label for="contacto">Contacto</label>
                <input type="text" class="form-control" id="contacto" name="contacto" [(ngModel)]="proveedor.contacto">
            </div>
            <div class="box-footer mt-2">
                <button type="submit" class="btn btn-success me-2" (click)="altaProveedor()" [disabled]="proveedorForm.form.invalid">Enviar</button>
                <button type="reset" class="btn btn-info">Borrar</button>
            </div>
            
        </form>
    </div>
</div>

