<div class="container rounded text-center mt-3">
    <div class="m-1 p-2">
        <table id="tablaContactos" class="table table-dark table-striped">
            <thead>
              <tr>
                <th class="th-sm">Nombre</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Tipo</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let persona of personas">
                <td>{{persona.nombre}}</td>
                <td>{{persona.telefono}}</td>
                <td>{{persona.email}}</td>
                <td>{{persona.tipo}}</td>
                <td>
                  <button class="btn btn-primary btn-sm text-white m-1 rounded" (click)="abrirFormActualizar(persona.id)">Actualizar</button>
                  <div class="btn-group">
                    <button class="btn btn-danger btn-sm text-white m-1 rounded" (click)="borrarUno(persona.id)">Eliminar</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>



