<div class="container">
  <div class="container text-center text-primary" >
    <h1 style="font-weight: bold;">Hola {{destino}} </h1>
  </div>
  <app-fechaactual></app-fechaactual>
  <!-- <app-viewmodelo></app-viewmodelo>
  <app-ejpropertybinding></app-ejpropertybinding>
  <app-ejmetodo></app-ejmetodo>
  <app-ejeventbinding></app-ejeventbinding>
  <app-ej2waybinding></app-ej2waybinding>
  <app-ejdirectivangif></app-ejdirectivangif>
  <app-ejdirectivangstyle></app-ejdirectivangstyle>
  <app-ejdirectivangclass></app-ejdirectivangclass>
  <app-ejdirectivangfor></app-ejdirectivangfor>
  <app-ejdirectivangswitch></app-ejdirectivangswitch>
  <app-hijo></app-hijo> -->
  <app-padre></app-padre>
  <app-copyright></app-copyright>
</div>