<div class="container mt-5 p-3 me-1">
    <nav class ="navbar bg-dark rounded">
        <ul class ="nav navbar-nav ms-3">
            <h5 class="text-center">MENÚ DE NAVEGACIÓN</h5>
            <li class ="nav-item">
                <a class ="nav-link" routerLink="/home" routerLinkActive="true">Inicio</a>
            </li>
            <li class ="nav-item">
                <a class ="nav-link" routerLink="/leer" routerLinkActive="true">Lista de contactos</a>
            </li>
            <li class ="nav-item">
                <a class ="nav-link" routerLink="/crear" routerLinkActive="true">Nuevo contacto</a>
            </li> 
            <li class ="nav-item">
                <a class ="nav-link" href="#"></a>
            </li>
        </ul>
    </nav>
</div>



