<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
  
    <mat-toolbar>OPCIONES</mat-toolbar>
  
      <a mat-menu-item routerLink="/home" routerLinkActive="active"> <mat-icon fontIcon="home"></mat-icon> Home</a>
      <a mat-menu-item [mat-menu-trigger-for]="gestion"> <mat-icon fontIcon="settings"></mat-icon> Gestión</a>
      <a mat-menu-item> <mat-icon fontIcon="code"></mat-icon> Créditos</a>

      <mat-menu #gestion>
        <a mat-menu-item [mat-menu-trigger-for]="solicitudes"> <mat-icon fontIcon="add_task"></mat-icon> Solicitudes</a>
        <a mat-menu-item [mat-menu-trigger-for]="espacios"> <mat-icon fontIcon="workspaces"></mat-icon> Espacios</a>
      </mat-menu>

        <mat-menu #solicitudes>
          <a mat-menu-item routerLink="solicitudes/crear" routerLinkActive="active"> <mat-icon fontIcon="add"></mat-icon> Crear</a>
          <a mat-menu-item routerLink="solicitudes/consultar" routerLinkActive="active"> <mat-icon fontIcon="search"></mat-icon> Consultar</a>
          <a mat-menu-item> <mat-icon fontIcon="update"></mat-icon> Actualizar</a>
          <a mat-menu-item> <mat-icon fontIcon="delete"></mat-icon> Eliminar</a>
        </mat-menu>

        <mat-menu #espacios>
          <a mat-menu-item> <mat-icon fontIcon="add"></mat-icon> Crear</a>
          <a mat-menu-item> <mat-icon fontIcon="search"></mat-icon> Consultar</a>
          <a mat-menu-item> <mat-icon fontIcon="update"></mat-icon> Actualizar</a>
          <a mat-menu-item> <mat-icon fontIcon="delete"></mat-icon> Eliminar</a>
        </mat-menu>

        
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>RESERVA DE ESPACIOS</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
