<div class="container text-success">
    <hr>
    <h4>INFORMACIÓN DE ALUMNOS</h4>
    <hr>
    <h5>ID: {{alumno1.id}}</h5>
    <h5>Nombre: {{alumno1.nombre}}</h5>
    <h5>Apellidos: {{alumno1.apellidos}}</h5>
    <h5>Ciudad: {{alumno1.ciudad}}</h5>
    <hr>
    <h5>ID: {{alumno2.id}}</h5>
    <h5>Nombre: {{alumno2.nombre}}</h5>
    <h5>Apellidos: {{alumno2.apellidos}}</h5>
    <h5>Ciudad: {{alumno2.ciudad}}</h5>
    <hr>
    <h5>ID: {{alumno3.id}}</h5>
    <h5>Nombre: {{alumno3.nombre}}</h5>
    <h5>Apellidos: {{alumno3.apellidos}}</h5>
    <h5>Ciudad: {{alumno3.ciudad}}</h5>
    <hr>
</div>